.container {
  width: 50vw;
  margin: 1rem auto;
  height: auto;
  background-color: rgba(141, 21, 57, 0.7);
  ul {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 1rem 0.5rem;
    li {
      padding: 1rem;
      background-color: rgba(197, 48, 93, 0.7);
      width: 100%;
      text-align: center;
    }
  }
}
